@font-face{
    font-family: 'Montserrat', sans-serif;
    font-family:'Hind Madurai', sans-serif;
    

    src: url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
}

@import url("./line.css");
 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-padding: 0 12vw;
    --text: #282828;
    --text-light: #828282;
    --text-v-light: #e0e0e0;
    --primary: #116056;
    --p-light: #32A77F;
    --accent:#F58C77;
    --tertiary: #FFCE68;
}

@media only screen and (max-width: 560px) {
    :root {
       --main-padding: 0 1.5rem;
   }
}


h1 {
    font-size: 3.75rem;
    line-height: 3.75rem;
    font-weight: 600;
}

h2 {
    font-size: 2.25rem;
    line-height: 2rem;
    font-weight: 700;
    /* letter-spacing: px; */
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1.87rem;
    font-weight: 300;
    line-height: 2.87rem;
}

h5 {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.87rem;
    font-weight: 600;
  line-height: 2.87rem;
}

h6 {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.18rem;
    font-weight: 600;
    line-height: 1.5rem;
}

p {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.25rem;
    color: var(--text);
}

.p2 {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.56rem;
    color: var(--text);
}

.light {
    font-weight: lighter;
}

/* Colour changes- (for changing colours mid-sentence) */
.clr-primary {
    color: var(--primary);
    
}

.clr-p-light {
    color: var(--p-light);
}

.clr-accent {
    color: var(--accent);
}

.clr-tertiary {
    color: var(--tertiary);
}

.clr-text-light {
    color: var(--text-light);
}

.clr-text-v-light {
    color:var(--text-v-light);
}

/* Background Colour variations */

.fill-primary {
    background-color: var(--primary);
}

.fill-p-light {
    background-color: var(--p-light);
}

.fill-accent {
    background-color: var(--accent);
}

.fill-tertiary {
    background-color: var(--tertiary);
}

.fill-text {
    background-color: var(--text);
}

.fill-text-light {
    background-color: var(--text-light);
}

.fill-text-v-light { 
    background-color: var(--text-v-light);
}

/* Pill-shape tag */

.tag {
    border-radius: 27px;
    padding: 0 .72rem;
}

/* BUTTON SYSTEM */

button {
    height: 48px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    padding: 0 1rem;
    transition: 120ms;
}

button:hover {
    transform: scale(1.06);
}

/* Button modifiers */

.btn-primary {
    background-color: var(--primary);
    color: white;
    border-radius: 12px;
    text-align: center;
}

.btn-primary:hover {
    background-color: var(--p-light);
}

.btn-lg {
    height: 72px;
    padding: 0 1.5rem;
}

.btn-ln {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-ln:hover {
    background-color: var(--p-light);
    color: white;
    border-color: var(--p-light);
}

/* .btn-nav {
    background-color: var(--primary);
    color: white;
    height: 48px;
    border-radius: 8px;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    transition: 120ms;
} */

/* SHADOW ELEVATION */

:root {
    --ev-1: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    --ev-2: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
    --ev-3: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* NAVIGATION */
.nav {
    /* min-height: 6.25rem; */
}

.nav-link {
    font-family:'Hind Madurai', sans-erif;
    color:#282828;
    font-size: 1.5rem;
    
}
/* 
.nav-link :hover {
    color: #116056;
     */


/* HOVER BOX */

.hover-box {
    padding: 1.5rem;
    /* min-height: 410px; */
    border-radius: 12px;
    box-shadow: var(--ev-1);
    transition: 300ms;
    margin: 0 0 5% 0;
}

.hover-box:hover {
    box-shadow: var(--ev-3);
    transform: scale(1.006);
}


/* HERO SECTION */


.border-bottom {
    border-style: solid;
    border-width: 5px;
    border-color: var(--primary);
    border-radius:5px;

}
/* COLOUR */
.card-header {
    min-height: 9rem;
}

.subheading {
    border-bottom: 4px solid var(--tertiary); 
    
}

.colour-box {
    /* padding: 1.5rem; */
    /* min-height: 410px; */
    border-radius: 12px;
    box-shadow: var(--ev-1);
    transition: 300ms;
    margin: 0 0 5% 0;
}

.colour-box:hover {
    box-shadow: var(--ev-3);
    transform: scale(1.006);
}

.card-header {
border-radius: 12px 12px 0 0;
}

.fill-accent-variation {
        opacity: 0.12;
}

.fill-primary-variation {
    opacity: 0.4;
}